:root {
    padding-left: 30px;
    padding-right: 30px;
}
html {
    line-height: 25px;
    var(padding = 175)
    border: blue;
    padding-top: 20px;
    padding-bottom: 50px;

}

.tableLayout {
    text-align: center;
    padding-left: 30px;
    padding-right: 0;
}

.mapAlignCenter {
    margin: auto;
    width: 90%;
    text-align: center;
}

.alignCenter {
    width: 100%;
    text-align: center;
    horiz-align: center;
}

.alignLeft {
    horiz-align: left;
}

.blueFont {
    color: blue;
}

.redFont {
    color: red;
}

.th {font-weight: normal; }

.table{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}

.td {
    font-weight: normal;
    border: solid 1px black;
    
    padding-top: 3px;
    padding-bottom: 3px;
    
    padding-left: 15px;
    padding-right: 15px;
}
.tdBlank {
    border-top: solid 1px white;
    border-bottom: solid 1px white;
    padding-left: 20px;
    padding-right: 20px;
}