:root {
    padding-left: 30px;
    padding-right: 30px;
}
html {
    line-height: 25px;
    var(padding = 175)
    border: blue;
    padding-top: 20px;
    padding-bottom: 50px;

}

.tableLayout {
    text-align: center;
    padding-left: 30px;
    padding-right: 0;
}

.mapAlignCenter {
    margin: auto;
    width: 90%;
    text-align: center;
}

.alignCenter {
    width: 100%;
    text-align: center;
    horiz-align: center;
}

.alignLeft {
    horiz-align: left;
}

.blueFont {
    color: blue;
}

.redFont {
    color: red;
}

.floatLeft { float: left; padding-left: 225px;}
.floatRight {float: right; padding-right: 200px;}
.container { overflow: hidden; }